div.footer {
    background-color: #343434;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
}

div.col {
    padding: 80px;
    display: inline-block;
}

.titleCol {

    text-align: center;
    color: #407C81;
    font-family: 'Courier New', Helvetica, 'Candara';
}

.listItems {
    list-style-type: none;
    color: #FFFFFF;
    font-family: 'Courier New', Helvetica, 'Candara';
}

.copyRightText {

    color: #343434;
}

.divLogo {

    position: absolute;

}