$grey: #343434;
$blue: #488991;

@font-face {
    font-family: HelveticaNeueLTPro55;
    src: url(../../fonts/HelveticaNeueLTPro55.otf);
}

@font-face {
    font-family: HelveticaNeueLTPro75;
    src: url(../../fonts/HelveticaNeueLTPro75.otf);
}
