.ui.inverted.segment {
    background: transparent !important;
}

.ui.inverted.menu {
    background: transparent !important;
}

.ui.segment:last-child {
    margin-right: 6em;
}

.ui.menu .item {
    padding: 0.40em !important;
}
